@media all and (min-width: 992px) {

body {
	background-image:url('omfgdogs.gif');
}

a:link {
	text-decoration:none;
	color: white;
	text-shadow: 3px 3px #ff0000;
	}

a:visited{
	text-decoration: none;
	color: white;
	text-shadow: 3px 3px #ff0000;
}

audio {
	display: none;
}

#no_for_you {
	font-size: 0;
}


#disclaimer {
	font-size: 40px;
	color: white;
	font-family: verdana;
	position: fixed;
    bottom: 0;
    right: 0;
}
}

@media all and (max-width: 991px) {
#disclaimer {
	font-size: 0px;
}
}